<component name="ArtifactManager">
  <artifact type="war" name="springproxy:war">
    <output-path>$PROJECT_DIR$/springproxy/target</output-path>
    <root id="archive" name="spring-proxy-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="springproxy:war exploded" />
    </root>
  </artifact>
</component>